body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fff6f6;
}

#layout-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  height: 100%; 
  margin-top: 2%;
  padding-bottom: 10px;
}

#room-container {
  grid-row: 1;
  position: relative;
  height: 100%;
}

#json-input {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
}

#room {
  border: 1px solid #000;
  height: 100%;
}

#json-loader {
  resize: none;
  width: 100%;
  background-color: #f8e8e8;
  border-color:#bfa6a6;
  border-radius: 10px;
}

#load-button {
  width: 100%;
  line-height: 50px;
  background-color: #fff6f6;
  border-color:#bfa6a6;
  border-radius: 10px;
  font-size: large;
  position: sticky;
  bottom: 0;
  cursor: pointer;
}

#load-button:hover {
  background-color: #f8e8e8;
  transition: background-color 100ms linear;
}

.item {
  position: absolute;
  background-color: lightgray;
  border: 1px solid #afafaf;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: small;
}

.window {
  border-color: lightblue;
}

.door {
  border-color: brown;
}
